.button {
    padding: 0.7rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background: white;
    color: #333;
    font-weight: 600;
    transition: 0.3s ease;

    &:hover {
        background: #f1f1f1;
        transform: translateY(-2px);
    }
}