* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

html{
  background: rgb(40, 37, 37);
  color: white;
}

.notes {
  display: flex;
  gap: 2rem;
   padding-block: 1rem;  /* top and bottom */
  padding-inline: 3rem;
}

.note {
  background-color: rgb(25, 24, 24);
  padding: 1rem;
  max-width: 20rem;
  
  border-radius: 1rem;
}